<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">

            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="/image/pBa8Yf.jpg" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Card content here.</p>
                        <button class="btn btn-primary view-info-button" data-toggle="modal"
                            data-target="#infoModal">View Info</button>
                    </div>
                </div>
            </div>

            <!-- Add more cards here -->
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Info Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Content to display in the modal -->
                    <p>Additional information goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




</body>

<script>
    $(document).ready(function () {

        // When the "View Info" button is clicked, show the modal
        $('.view-info-button').click(function () {
            $('#infoModal').modal('show');
        });

        // เมื่อคลิกปุ่ม "Close" ใน Modal
        $('#infoModal .close, #infoModal [data-dismiss="modal"]').click(function () {
            $('#infoModal').modal('hide');
        });

        // เมื่อคลิกที่กากบาท (Backdrop) ของ Modal
        $('#infoModal').on('click', function (event) {
            if (event.target === this) {
                $('#infoModal').modal('hide');
            }
        });

    });
</script>


</html>