@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@500&display=swap');

body {
    font-family: 'Niramit', sans-serif !important; 
}

#indexejs{
    margin-top: 70px;
    padding-top: 5px;
    /* border: 1px solid #ff0000; */
    /* background-color: aqua; */
    position: relative;
    height: 100vh;

}